h1 {
    text-align: center;
    margin-top: 0;
    padding: 0;
}
li {
    list-style: none;
}
.gallary__img {
    display: block;
    width: 350px;
    height: 250px;
}
input[type='text'] {
    font-weight: 400;
    font-size: 17px;
}

.search-form {
    z-index: 2;

    display: inline-block;
    position: fixed;

    left: 50%;
    transform: translate(-50%, -35%);

    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}
.button {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    align-items: center;
    align-self: center;

    font-weight: 900;
    padding: 10px 30px;

    background-color: blue;
    color: #fff;
    border-radius: 5px;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 0;
    margin: 20px;
}
.stats {
    display: flex;
    justify-content: center;
}
.stats .stats-item:not(:last-child) {
    margin-right: 10px;
}
.button {
    opacity: 0;
}
.button.is-active {
    opacity: 1;
}
.gallery__item {
    transform: scale(1);
    transition: transform 200ms linear;

    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.gallery__item:hover {
    transform: scale(1.05);
}

.photo-card {
    position: relative;
}

.stats {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    background-color: rgba(241, 233, 231, 0.4);

    border-radius: 5px;
}
.stats-item {
    cursor: pointer;
}
.stats-item:hover .material-icons {
    transform: scale(1.3);
}
.material-icons {
    transform: scale(1);
    transition: transform 200ms linear;
}

.basicLightbox__placeholder {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vw;
    background-color: rgba(41, 51, 51, 0.7);
}
.btn-modal {
    z-index: 2;

    display: inline-block;
    position: fixed;
    right: 5%;
    top: 3%;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: transparent;

    padding: 0;

    cursor: pointer;

    transform: rotate(0);
    transition: transform 200ms linear;
}
.btn-modal:hover {
    transform: rotate(100deg);
}
.lightbox__image {
    z-index: 2;

    @media (max-width: 640px) {
        width: 480px;
    }

    height: auto;

    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
